/* Main is for all the background color */
/* Primary is for all the text we need to be highlighted */
/* Assent is secondary color to text color */
/* Text is main color */
/* Line is for dividers we might need to add */
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,300;0,400;0,500;0,600;0,700;0,900;1,300;1,400;1,500;1,600&display=swap');
:root{
  --main: rgb(24,24,24);
  --primary:orange;
  --assent:rgb(255,255,255);
  --text:rgb(91,153,93);
  --line:rgb(45,45,45);
  --font:'Source Code Pro', monospace;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--main);
  color: var(--assent);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
a{
  text-decoration: none;
  color: inherit;
}